<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/style.css" />

</head>
<body ng-app="pokedex">

	<div class="container">
		<div ng-pokedex ></div>
		<!--On met en commentaire tout le html qui est désormais dans notre propre template-->
		<!--<h1>Pokédex SuperSabre-Mika version</h1>-->
	
		<!-- Search -->
		<!--<div ng-controller="ctrlPokemon">
			Numero: <input type="text" class="form-control" name="numPok" ng-model="poknum">
			Nom: <input type="text" class="form-control" name="nomPok" ng-model="poknom">
			<label for="sel1">Pokemons:</label>
			<select class="form-control" ng-model="pokesel">
				<option 
				ng-repeat="x in listPokemon | filter:{entry_number:poknum} | filter:poknom" 
				value="{{x.entry_number}}"> {{x.entry_number}}-{{x.pokemon_species.name}}
				</option>
			</select>
			<input type="button" class="btn btn-lg btn-primary" name="get" value="Go!" ng-click="search(pokesel)">
		</div>-->

		<!-- Pokémon information -->
		<!--<div ng-controller="ctrlInfoPokemon">
			<h1>{{id}}-{{name}}</h1>
			<h2>Attaques</h2>
			<ul>
				<li ng-repeat="x in moves">
					{{x.move.name}}
				</li>
			</ul>
		</div>-->
	</div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>


</body>
</html>
