
<nav class="navbar navbar-inverse">
		<h1 style="color:white">Pokedex</h1>
</nav>
	
<!-- Search -->
<div ng-controller="ctrlPokemon" class="jumbotron">
	Numero: <input type="text" class="form-control" name="numPok" ng-model="poknum">
	Nom: <input type="text" class="form-control" name="nomPok" ng-model="poknom">
	<label for="sel1">Pokemons:</label>
	<select class="form-control" ng-model="pokesel">
		<option 
		ng-repeat="x in listPokemon | filter:{entry_number:poknum} | filter:poknom" 
		value="{{x.entry_number}}"> {{x.entry_number}}-{{x.pokemon_species.name}}
		</option>
	</select>
	<input type="button" class="btn btn-lg btn-primary" name="get" value="Go!" ng-click="search(pokesel)">
</div>

<!-- Pokémon information -->
<div id="pokeInfo" ng-controller="ctrlInfoPokemon">
	<div class="alert alert-info">
		<h1>Resultat</h1>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading"><h2>{{id}} {{name}}</h2></div>
		<div class="panel-body"> 
			<div class="col-lg-4">
				<img src="http://img.pokemondb.net/artwork/{{name}}.jpg"> <!--Ajout d'une image depuisu ne source extérieur-->
			</div>
			<div class="col-lg-6">
				<p>Experience de base: {{baseXp}}</p>
				<p>Taille: {{height}} cm</P>
				<p>Poids: {{weight}} kg</P>
			</div>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading"><h2>Attaques</h2></div>
		<div class="panel-body">
			<ul>
				<li ng-repeat="x in moves">
					{{x.move.name}}
				</li>
			</ul>
		</div>
	</div>
</div>